/*******************************************************************************

		HEADERSIDA 

*******************************************************************************/
header {
	 background-color: white;
}
h1 {
	color: #669999; 
}
.navbar {
	border-bottom: 1px solid #669999;
}
header .header-content .header-content-inner p {
	color: #669999; 

}
.btn-primary {
	background-color: #CF649A; 


}
.btn-primary:hover {
	background-color: #669999;

}
hr {
    border-color: #669999;
    
}

/* I princip bara färger till navbar ner till annat */

.navbar-default.affix .navbar-header .navbar-brand {
		color: #CF649A;
		font-size: 14px; 
}
.navbar-default.affix .navbar-header .navbar-brand:hover {
	color: #669999;
}
.navbar-default .navbar-header .navbar-brand{
		color: #CF649A;
	
}
.navbar-default .nav > li > a,
.navbar-default .nav > li > a:focus {
		color: #CF649A;
}
.navbar-default .navbar-header .navbar-brand:hover {
		color: #669999;
}
.navbar-default .nav > li > a:hover {
		color: #669999;
}
.navbar-default.affix .nav > li > a:hover {
		color: #669999;
}
.navbar-default .nav > li.active > a,
.navbar-default .nav > li.active > a:focus {
  color: #669999 !important;
  
 }
 .navbar-default.affix .nav > li > a,
  .navbar-default.affix .nav > li > a:focus {
    color: #CF649A;
}

/***********************************************************************************

	Annat

***********************************************************************************/
.bg-primary {
	background-color: #CF649A;
}
.btn-default {
	color: white;
	background-color: #669999;

}
.portfolio-box .portfolio-box-caption {
	opacity: 1;
	
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
	opacity: 1;
}
.portfolio-box-caption:hover {
    background: hsla(180, 20%, 50%, 0.8);
}
.bg-dark {
	background-color: #CF649A;
}
a {
	color: #669999;

}
a:hover {
	color: #669999;

}
 


.test  {
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}

.test:hover  {
    -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
     transform:scale(1.25);
}


/**********************************************************************************

	STILGUIDE

**********************************************************************************/

.stilcontainer{
	margin: 5px;
}
.stilcontainer a {
	font-size: 175%;
}
.stilcontainer h1{
	color: black;
	border-bottom: 1px solid black;
	max-width: 400px;
	padding-bottom: 5px;
}
.farg {
	color: white;
	width: 100px;
	min-height: 100px;
}
.farg1 {
	background-color: #669999;
	display: inline-block;
}
.farg2 {
		background-color: #CF649A;
		display: inline-block;
}
.typografi{
	border-top: 1px solid black;
	margin-top: 20px;
	max-width: 350px;
}
.rubriker {
	margin-bottom: 50px;
}
.brodtext {
	border-bottom: 1px solid black;
}









